@import url("./modules/fonts.css");
@import url("./modules/colors.css");

* {
  margin: 0em;
  padding: 0em;
}

body {
  background: var(--background);
  font-family: Calibri, sans-serif;
  font-size: 1em;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  opacity: 0.9;
  font-family: "Montserrat Alternates", Calibri, sans-serif;
}

input {
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.5em;
  margin: 0.5em 0.3em;
  background: var(--background);
  color: var(--onBackground);
  outline: none;
}

input:focus {
  border-color: var(--secondary);
}

input:invalid {
  outline: none;
  box-shadow: none;
}

input:-moz-ui-invalid {
  border-color: var(--danger);
}

input:-moz-submit-invalid {
  border-color: var(--danger);
}

button {
  border: none;
  border-radius: 3px;
  padding: 0.8em;
  background: var(--primary);
  color: var(--onPrimary);
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button:focus {
  background: var(--secondary);
  color: var(--onSecondary);
  outline: none;
}

button:active {
  opacity: 0.8;
}

a {
  color: var(--primary);
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

a:active {
  opacity: 0.8;
}

.form {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  max-height: 400px;
  max-width: 500px;
  border: none;
  padding: 2em 1em;
  margin: 2em auto;
}

.form > * {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto auto;
}

.form > h1,
a {
  width: 100%;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.form > input {
  margin-bottom: 1em;
}

.form > a {
  margin: 1em auto;
}

.form > small {
  color: var(--secondary);
  opacity: 0.9;
  display: inline-block;
}

.form > small > span {
  color: var(--danger);
}

.form > button {
  margin: 1em auto 0em auto;
}

li {
  list-style: none;
  margin: 1em 0em;
}

.app-container {
  display: grid;
  grid-template-columns: min-content auto;
  height: 100vh;
  width: 100%;
}

nav {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5em;
  height: 100%;
  background: var(--primary);
}

nav > ul {
  height: auto;
  margin: 0em auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

header > h2 {
  color: var(--primary);
  text-align: left;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

hr {
  color: var(--primary);
  animation: expand-out 0.4s ease-out 1;
}

@keyframes expand-out {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.icon {
  width: 2em;
  height: 2em;
  color: var(--onPrimary);
}

.view {
  grid-column: 2;
  height: auto;
  word-break: break-all;
  padding: 0em 1em;
  overflow-y: auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 20em);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.project-card {
  box-shadow: 1px 1px 5px var(--primary);
  width: auto;
  min-width: 20em;
  margin: 1em;
  border-radius: 0.4em;
}

.project-card > div:first-child {
  text-align: center;
  padding: 1em;
  border-radius: 0.3em 0.3em 0em 0em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background: var(--primary);
  color: var(--onPrimary);
}

.project-card > div:first-child > h2 {
  color: var(--onPrimary);
}

.project-card > div:last-child {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.project-card > div:last-child > * {
  margin-top: 1em;
  cursor: pointer;
}

.button-link {
  width: auto;
  height: 100%;
  padding: 0.8em;
  border-radius: 3px;
  background: var(--primary);
  color: var(--onPrimary);
}

.button-link:hover {
  opacity: 0.8;
}

.button-link:focus {
  background: var(--secondary);
  color: var(--onSecondary);
}

.button-warning {
  background: var(--warning);
}

.button-danger {
  background: var(--danger);
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  height: fit-content;
}

.account-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.data-place {
  text-align: right;
  margin-right: 1em;
  width: 100%;
}

.data-value {
  text-align: left;
  width: 100%;
}

.new-project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em;
}

.new-project > input {
  width: 100%;
}

.new-project > button {
  width: 25%;
}

.error {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: 5em;
}

.error > h1 {
  color: var(--danger);
  font-size: 4em;
}

.tickets {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 1em;
  width: 100%;
  height: auto;
  margin: 1em 0em;
}

.tickets > div {
  border-radius: 0.4em;
  height: min-content;
}

.tickets > div > h3 {
  border-radius: 0.3em 0.3em 0em 0em;
  padding: 1em;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tickets > div:first-child {
  box-shadow: 1px 1px 5px var(--primary);
}

.tickets > div:first-child > h3 {
  background: var(--primary);
  color: var(--onPrimary);
}

.tickets > div:nth-child(2) {
  box-shadow: 1px 1px 5px var(--warning);
}

.tickets > div:nth-child(2) > h3 {
  background: var(--warning);
  color: var(--onWarning);
}

.tickets > div:last-child {
  box-shadow: 1px 1px 5px var(--ok);
}

.tickets > div:last-child > h3 {
  background: var(--ok);
  color: var(--onOk);
}

.tickets > div > ul > li {
  padding: 0.8em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tickets > div > ul > li:hover {
  background: var(--secondary);
  color: var(--onSecondary);
  border-radius: 0em 2em 2em 0em;
  margin-right: 1em;
}

@media only screen and (max-width: 1280px) {
  .card-container {
    grid-template-columns: repeat(3, auto);
  }

  .project-card {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, auto);
  }

  .project-card {
    width: auto;
  }

  .tickets {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, auto);
  }

  .project-card {
    width: auto;
    min-width: 16em;
  }

  .tickets {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1em;
  }

  .tickets > div {
    margin: 0em 1em;
  }
}

@media only screen and (max-width: 700px) {
  form {
    display: flex;
    flex-direction: column;
    border: none;
    width: 90%;
    box-shadow: none;
  }

  .card-container {
    grid-template-columns: repeat(2, auto);
  }

  .project-card {
    width: auto;
    min-width: 16em;
  }
}

@media only screen and (max-width: 455px) {
  .app-container {
    display: grid;
    grid-template-rows: auto min-content;
    width: 100%;
  }

  .view {
    padding: 0em;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 3.5em;
    background: var(--primary);
  }

  nav > ul {
    display: flex;
    flex-direction: row;
  }

  nav > ul {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  nav > ul > li {
    margin: auto;
    width: inherit;
    height: inherit;
  }

  nav > ul > li:active {
    opacity: 0.5;
  }

  nav > ul > li > a > * {
    width: 100% !important;
    height: auto;
    padding: 0.7em 0em;
  }

  .card-container {
    grid-template-columns: auto;
  }

  .project-card {
    width: auto;
    min-width: 15em;
  }
}

@media only screen and (max-width: 375px) {
  .card-container {
    grid-template-columns: auto;
  }

  .project-card {
    width: auto;
    min-width: 15em;
  }
}

@media only screen and (max-height: 500px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media only screen and (max-height: 375px) {
  .card-container {
    grid-template-columns: repeat(2, auto);
  }

  .project-card {
    width: auto;
    min-width: 15em;
  }
}
