@import url("./modules/fonts.css");
@import url("./modules/colors.css");

* {
  margin: 0em;
  padding: 0em;
}

body {
  background: var(--background);
  font-family: Calibri, sans-serif;
  font-size: 1em;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  opacity: 0.9;
  font-family: "Montserrat Alternates", Calibri, sans-serif;
}

button {
  background: none;
  color: var(--onBackground);
  outline: none;
  border: none;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 150px;
  height: auto;
  min-height: 25px;
  padding: 0.5em 0.2em;
  margin: 0.3em 0em;
  border-radius: 0.5em;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

input {
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.5em;
  margin: 0.5em 0.3em;
  background: var(--background);
  color: var(--onBackground);
  outline: none;
}

input:focus {
  border-color: var(--secondary);
}

input:invalid {
  outline: none;
  box-shadow: none;
}

input:-moz-ui-invalid {
  border-color: var(--danger);
}

input:-moz-submit-invalid {
  border-color: var(--danger);
}

textarea {
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.5em;
  margin: 0.5em 0.3em;
  background: var(--background);
  color: var(--onBackground);
  outline: none;
  resize: none;
}

select {
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.5em;
  margin: 0.5em 0.3em;
  background: var(--background);
  color: var(--onBackground);
  outline: none;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a {
  color: var(--primary);
  text-emphasis: none;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

a:active {
  opacity: 0.8;
}

nav {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 3.5em;
  height: 100%;
  background: var(--primary);
}

nav > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5em;
  outline: none;
}

nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5em;
  outline: none;
}

.active {
  background: var(--secondary);
}

.form {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  max-height: 400px;
  max-width: 500px;
  border: none;
  padding: 2em 1em;
  margin: 2em auto;
}

.form > * {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto auto;
}

.form > h1,
a {
  width: 100%;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.form > input {
  margin-bottom: 1em;
}

.form > a {
  margin: 1em auto;
}

.form > small {
  color: var(--secondary);
  opacity: 0.9;
  display: inline-block;
}

.form > small > span {
  color: var(--danger);
}

.form > button {
  margin: auto;
  min-width: 180px !important;
}

.app-container {
  display: grid;
  grid-template-columns: min-content auto;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1em 0em 0em 0em;
  background: var(--background);
  width: auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-children {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-title {
  color: var(--primary);
  width: 80%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.header > hr {
  margin-top: 1em;
  color: var(--primary);
  animation: expand-out 0.4s ease-out 1;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  color: var(--onPrimary);
  position: relative;
}

.icon-sm {
  width: 1em;
  height: 1em;
  color: var(--onPrimary);
}

.icon > p {
  font-size: 0.8em;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  text-align: center;
  padding: 0em;
  background: var(--danger);
  color: var(--onDanger);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: -10px;
  margin-right: -10px;
}

.view {
  grid-column: 2;
  height: auto;
  word-break: break-all;
  padding: 0em 1em;
  overflow-y: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px var(--shadow);
  width: auto;
  min-width: 270px;
  max-width: 375px;
  height: min-content;
  margin: 1em;
  border-radius: 0.4em;
  word-break: normal;
}

.card-header {
  background: var(--primary);
  color: var(--onPrimary);
  text-align: center;
  padding: 1em;
  border-radius: 0.3em 0.3em 0em 0em;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 150px;
  height: auto;
  min-height: 25px;
  padding: 0.5em 0.2em;
  margin: 0.3em 0em;
  border-radius: 0.5em;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  opacity: 0.8;
}

.button:focus {
  background: var(--secondary);
  color: var(--onSecondary);
  outline: none;
}

.button:active {
  opacity: 0.8;
}

.shadow-normal {
  --shadow: var(--primary);
}

.shadow-warning {
  --shadow: var(--warning);
}

.shadow-ok {
  --shadow: var(--ok);
}

.normal {
  background: var(--primary);
  color: var(--onPrimary);
}

.ok {
  background: var(--ok);
  color: var(--onOk);
}

.warning {
  background: var(--warning);
  color: var(--onWarning);
}

.danger {
  background: var(--danger);
  color: var(--onDanger);
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  height: auto;
}

.account-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.data-place {
  text-align: right;
  margin-right: 1em;
  width: 100%;
}

.data-value {
  text-align: left;
  width: 100%;
}

.new-project {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.new-project > input {
  width: 100%;
}

.new-project > button {
  width: 20em;
}

.error {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  margin: 5em;
}

.error > h1 {
  color: var(--danger);
  font-size: 4em;
}

.ticket-item {
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: default;
  font-size: 0.8em;
  text-align: center;
}

.ticket-item:hover {
  background: var(--secondary);
  color: var(--onSecondary);
}

.overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
}

.overlay > div {
  width: 50%;
  height: 50%;
  border: 1px solid var(--primary);
  border-radius: 0.5em;
  background: var(--secondary);
}

.overlay > div > header {
  text-align: center;
  padding: 1em;
  background: var(--primary);
  color: var(--onPrimary);
  border-radius: 0.4em 0.4em 0em 0em;
}

.overlay > div > form {
  margin: 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.overlay > div > form > * {
  margin-top: 0.5em;
}

.overlay > div > form > input {
  background: transparent;
  color: var(--onSecondary);
}

.overlay > div > form > input:focus {
  background: transparent;
  color: white;
  border-color: var(--ok);
}

.overlay > div > form > select {
  background: transparent;
  color: var(--onSecondary);
}

.overlay > div > form > textarea {
  background: transparent;
  color: var(--onSecondary);
}

.overlay > div > form > div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.overlay > div > form > div > button {
  min-width: 130px;
}

.result-list {
  list-style: none;
}

.result-item {
  display: flex;
  flex-direction: row;
  margin: 1em;
  padding: 0.5em;
  align-items: center;
  background: var(--primary);
  border-radius: 1em;
  color: var(--onPrimary);
}

.result-item > p {
  width: 100%;
  text-align: center;
}

.result-item > div {
  display: flex;
  flex-direction: row;
}

.result-item > div > button {
  margin: 0.5em;
}

.request-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.2em 0.5em;
  align-items: center;
  background: var(--primary);
  border-radius: 1em;
  color: var(--onPrimary);
}

.request-item > div {
  display: flex;
  flex-direction: row;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.request-item > div > button {
  min-width: auto;
  min-height: auto;
  width: 2em;
  height: 2em;
}

@media only screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, auto);
  }

  .overlay > div {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    grid-template-columns: auto;
  }

  .overlay > div {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto;
  }

  .header-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    text-align: center;
  }

  .header-children {
    display: flex;
    width: 100%;
    margin: auto;
  }

  .header-children > input {
    width: 90%;
  }

  .header-children > .button {
    width: 90%;
  }

  .result-item {
    flex-direction: column;
  }
}

@media only screen and (max-width: 455px) {
  .app-container {
    display: grid;
    grid-template-rows: auto min-content;
    width: 100%;
  }

  .view {
    margin: 0em;
    padding: 0em;
  }

  .overlay {
    grid-row: 1;
    grid-column: 2;
  }

  .overlay > div {
    width: 80%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 3.5em;
    background: var(--primary);
  }

  nav > div {
    display: flex;
    width: 200%;
    height: 100%;
  }

  nav > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .error {
    grid-row: 1;
    grid-column: 2;
  }

  .container {
    grid-template-columns: auto;
  }

  .header {
    padding: 0em 1em;
  }
}

@media only screen and (max-height: 375px) {
  .container {
    grid-template-columns: auto;
  }
}

@keyframes expand-out {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
