:root {
  --primary: #2980b9;
  --background: #2c3e50;
  --onPrimary: #ecf0f1;
  --onBackground: #ecf0f1;
  --danger: #c0392b;
  --warning: #e67e22;
  --ok: #27ae60;
  --onDanger: #ecf0f1;
  --onWarning: #ecf0f1;
  --onOk: #ecf0f1;
}
